.title{
  text-align: center;
}
ion-content {
  --background: #4d008b;
}
ion-card {
--background: #000;
--color: #ffffff;
}

ion-card-title {
--color: #8f52ff;
}

ion-card-subtitle {
--color: #e3d1ff;
}

ion-item {
--padding-start: 0;
}
ion-item.menu {
  --padding-start: 0;
  --background: #4c008b00;
  }
h1{
  font-size: 50px;
  text-align: center;
}

ion-list{
  background-color: transparent;
}